<div class="grid grid-cols-4" (click)="selectFlight()">
    <div class="flex">
        <mat-icon *ngIf="searchType === 'decollages'">flight_takeoff</mat-icon>
        <mat-icon *ngIf="searchType === 'atterrissages'">flight_land</mat-icon>
        <p class="ml-3">{{flight.icao}}</p>
    </div>
    <p>{{flight.matricule}}</p>
    <div class="flex">
        <p>{{flight.aeroportDepart}}&nbsp;</p>
        <div>
            <mat-icon>arrow_right_alt</mat-icon>
        </div>
        <p>&nbsp;{{flight.aeroportArrivee || "Inconnu"}}</p>
    </div>
    <img [src]="flight.companyImageLink" [alt]="flight.compagnie" class="object-contain h-8 w-32">
</div>