<div class="bg-amber-200 h-full flex flex-col">
	<div class="mb-4">
		<h1 class="text-2xl text-blue-950 font-semibold">DECOLLAGES</h1>
	</div>
	<div class="flex w-full gap-x-10 flex-1 bg-violet-200">
		<div class="w-1/2">
			<div>
				<app-filtres (emitter)="receiveFilters($event)"></app-filtres>
			</div>
			<div>
				<app-liste-vols [flights]="flights" (emitter)="receiveFlight($event)"></app-liste-vols>
			</div>
		</div>
		<div class="w-1/2 bg-green-200">
			<app-liste-passagers [flight]="selectedFlight"></app-liste-passagers>
		</div>
	</div>
</div>