<div class="grid grid-cols-4">
    <div class="flex mb-4">
        <mat-icon *ngIf="searchType === 'decollages'">flight_takeoff</mat-icon>
        <mat-icon *ngIf="searchType === 'atterrissages'">flight_land</mat-icon>
        <p class="ml-3">N° ICAO</p>
    </div>
    <p>Matricule</p>
    <div class="flex">
        <p>Départ&nbsp;</p>
        <mat-icon>arrow_right_alt</mat-icon>
        <p>&nbsp;Arrivée</p>
    </div>
    <p>Compagnie</p>
</div>
<div class="flex flex-col gap-y-3">
    <app-vol [flight]="flight" (emitter)="forwardFlight($event)" *ngFor="let flight of flights"></app-vol>
</div>